@model MyCoolWebApp.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My web app</h1>
    <p class="lead">Hello</p>
</div>

<div class="row">
    <div class="col-md-12">
        My SQL connection stirng is: @Model.ConncetionString
    </div>
    <div class="col-md-12">
        My blob storage connection string is: @Model.BlobStorageConnectionString
    </div>
   
</div>